<!doctype html>

<html>
<head>
    <meta charset="utf-8">

    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    {% include "foundation/Navigation-Bar.html" %}

</head>

<style>
    {% include "Home.CSS" %}
</style>



<body>

<h1 style = "text-align: center;">Service Nexus</h1>
<p style = "text-align: center;">Our goal is to help connect residents in the 4s Ranch community with different kinds of service workers
    such as carwashers, plumbers, carpenters, tutors, etc.
</p>
<div class="navigationcontainer1">
    <div class="homebuttoncontainer1">
        <button class = "homebutton1">Carwashing</button>
        <button class = "homebutton1">Plumbing</button>
        <button class = "homebutton1">Carpenting</button>
        <button class = "homebutton1">Tutoring</button>
    </div>
</div>


<!--
<script src="scripts.js"></script>
-->
</body>

<script src = "Home.js">
</script>

</html>