html, body {
            font-family: 'Roboto Flex', sans-serif;
            background-color: whitesmoke;
        }

        #HomeBackground1 {
            background-color: dodgerblue;
        }

        #HomeBackground2 {
            background-color: mediumseagreen;
        }

        .navigationcontainer1 {
            background-color: white;
            height: 70px;
            width: 1000px;
            border: 2px solid slategray;
            padding: 10px;
            margin: auto;
        }

        .homebutton1 {
            background-color: white;
            border: 2px solid dodgerblue;
            color: dodgerblue;
            height: 40px;
            width: 150px;
            margin-left: 70px;
            margin-top: 16px;
            transition-duration: 0.4s;
        }

        .homebutton1:hover {
            background-color: dodgerblue;
            color: white;
        }

        .homebuttoncontainer1 {
            margin-left: 20px;
        }